{% load adminmedia %}
{% load i18n %}
<!-- hader -->
{% include "admin/header.html" %}
<!-- end heade -->
<!-- menu part -->
{% include "admin/menu.html" %}
<!-- end menu part -->

<div id="content">
<div class="">

<div class="box">
 
 {% block content %}<div id="contentd">

<form action="" method="post">{% csrf_token %}
<div class="heading">


 <h1 style="color:#003A88;">{% trans 'Password change' %}</h1>

<p></p>

<fieldset class="module aligned wide">

<div style="padding:32px;">
<h1>{% trans 'Password change successful.' %}</h1>


</div>
</fieldset>
</div>
</form></div>
{% endblock %}


</div>
</div>
<!-- footer part -->
{% include "admin/footer.html" %}
</body></html>