{% autoescape off %}
				<div class="deals-container scheme-{{layout}}">
					<!-- Deals Listing starts -->
					<div class="deals-container scheme-3">

						<div class="deal-container">
							<div class="image-container  deal1">
								<div class="deal-image">
									<a href="spiffs/deal/groupon/{{deals.deal1.id}}">
										<img src="{{deals.deal1.image_urls}}" width="100%" />
									</a>
								</div>
								<div class="deal-info">
									<span class="price-diff">
										<div id="old-price">{{deals.deal1.option.value}}</div>
										<div id="new-price">{{deals.deal1.option.price}}</div>
									</span>
									<div class="deal-info-text">{{deals.deal1.title}}</div>
								</div>
							</div>
						</div>
						<div class="deal-container">
							<div class="image-container  deal2">
								<div class="deal-image">
									<a href="spiffs/deal/groupon/{{deals.deal2.id}}">
										<img src="{{deals.deal2.image_urls}}" height="100%" />
									</a>
								</div>
								<div class="deal-info">
									<span class="price-diff">
										<div id="old-price">{{deals.deal2.option.value}}</div>
										<div id="new-price">{{deals.deal2.option.price}}</div>
									</span>
									<div class="deal-info-text">{{deals.deal2.title}}</div>
								</div>
							</div>
						</div>
						<div class="deal-container">
							<div class="image-container  deal3">
								<div class="deal-image">
									<a href="spiffs/deal/groupon/{{deals.deal3.id}}">
										<img src="{{deals.deal3.image_urls}}" height="100%" />
									</a>
								</div>
								<div class="deal-info">
									<span class="price-diff">
										<div id="old-price">{{deals.deal3.option.value}}</div>
										<div id="new-price">{{deals.deal3.option.price}}</div>
									</span>
									<div class="deal-info-text">{{deals.deal3.title}}</div>
								</div>
							</div>
						</div>
						<div class="deal-container">
							<div class="image-container  deal4">
								<div class="deal-image">
									<a href="spiffs/deal/groupon/{{deals.deal4.id}}">
										<img src="{{deals.deal4.image_urls}}" width="100%" />
									</a>
								</div>
								<div class="deal-info">
									<span class="price-diff">
										<div id="old-price">{{deals.deal4.option.value}}</div>
										<div id="new-price">{{deals.deal4.option.price}}</div>
									</span>
									<div class="deal-info-text">{{deals.deal4.title}}</div>
								</div>
							</div>
						</div>
						<div class="deal-container">
							<div class="image-container  deal5">
								<div class="deal-image">
									<a href="spiffs/deal/groupon/{{deals.deal5.id}}">
										<img src="{{deals.deal5.image_urls}}" height="100%" />
									</a>
								</div>
								<div class="deal-info">
									<span class="price-diff">
										<div id="old-price">{{deals.deal5.option.value}}</div>
										<div id="new-price">{{deals.deal5.option.price}}</div>
									</span>
									<div class="deal-info-text">{{deals.deal5.title}}</div>
								</div>
							</div>
						</div>
						<div class="deal-container">
							<div class="image-container  deal6">
								<div class="deal-image">
									<a href="spiffs/deal/groupon/{{deals.deal6.id}}">
										<img src="{{deals.deal6.image_urls}}" width="100%" />
									</a>
								</div>
								<div class="deal-info">
									<span class="price-diff">
										<div id="old-price">{{deals.deal6.option.value}}</div>
										<div id="new-price">{{deals.deal6.option.price}}</div>
									</span>
									<div class="deal-info-text">{{deals.deal6.title}}</div>
								</div>
							</div>
						</div>
						<div class="deal-container">
							<div class="image-container  deal7">
								<div class="deal-image">
									<a href="spiffs/deal/groupon/{{deals.deal7.id}}">
										<img src="{{deals.deal7.image_urls}}" width="100%" />
									</a>
								</div>
								<div class="deal-info">
									<span class="price-diff">
										<div id="old-price">{{deals.deal7.option.value}}</div>
										<div id="new-price">{{deals.deal7.option.price}}</div>
									</span>
									<div class="deal-info-text">{{deals.deal7.title}}</div>
								</div>
							</div>
						</div>
						<div class="deal-container">
							<div class="image-container  deal8">
								<div class="deal-image">
									<a href="spiffs/deal/groupon/{{deals.deal8.id}}">
										<img src="{{deals.deal8.image_urls}}" height="100%" />
									</a>
								</div>
								<div class="deal-info">
									<span class="price-diff">
										<div id="old-price">{{deals.deal8.option.value}}</div>
										<div id="new-price">{{deals.deal8.option.price}}</div>
									</span>
									<div class="deal-info-text">{{deals.deal8.title}}</div>
								</div>
							</div>
						</div>
					</div>
					
					<!--Deals listing ends -->
			</div>
{% endautoescape %}
