<div>
                        
                            <!-- Category menu -->
                          <div id="popmenu1" class="menu_inner selected-menu menu_inner_main">
                                <ul>
                                {% for catg in catgs%}
			                     <li class="MenuItemStyle menu_item clearfix" crumbText = 'All Categories'>
                                        <input type="radio"  name='filters'
                                            onclick="MainMenuClick(this,'Category', 'All');"
                                            id="chkAll" name="chkAll" value="*" checked="checked" />
                                            <label for="chkAll" class="float item-text all-20">{{catg.title}}</label>
                                    </li>
                                {% endfor %}
                                </ul>
                                <div class="go-container"><a href="#" id="lnkCategoryGo" class="menu-button">
				                        <img border="0" src="images/button_go.jpg" ></a></div>
                            </div>
                            
                            <!-- Style menu -->
                            <div class="menu_inner" id="popmenu2">
            <ul>
                <li crumbtext="Daily deals" class="MenuItemStyle menu_item clearfix">
                    <input type="radio" id="chkDaily" value="Daily-Deals" onclick="MainMenuClick(this,'Style');" name="filters">
                    <label class="float item-text deal-of-day" for="chkDaily">Daily deals</label>
                </li>
                <li crumbtext="Printable deals" class="MenuItemStyle menu_item clearfix">
                    <input type="radio" id="chkPrint" value="Printable-Deals" onclick="MainMenuClick(this,'Style');" name="filters">
                    <label class="float item-text printable-deals-20" for="chkPrint">Printable deals</label>
                </li>
                <li crumbtext="Expires Soon" class="MenuItemStyle menu_item clearfix">
                    <input type="radio" id="chkExpires" value="Expires-Soon" onclick="MainMenuClick(this,'Style');" name="filters">
                    <label class="float item-text expires-soon-20" for="chkExpires">Expires Soon</label>
                </li>
                    
                   <li crumbtext="Over 50% off" class="MenuItemStyle menu_item clearfix">
                    <input type="radio" id="Checkbox1" value="Over-50%-Off" onclick="MainMenuClick(this,'Style');" name="filters">
                    <label class="float item-text over-50-off" for="Checkbox1">Over 50% off</label>
                </li>
                   
               <li crumbtext="Dealmap Favorites" class="MenuItemStyle menu_item clearfix">
                    <input type="radio" id="Checkbox2" value="Dealmap-Favorites" onclick="MainMenuClick(this,'Style');" name="filters">
                    <label class="float item-text dealmap-source-20" for="Checkbox2">Dealmap Favorites</label>
               </li>
            </ul>
            
            <div class="go-container"><a class="menu-button" id="lnkStyleGo" href="#">
				    <img border="0" src="images/button_go.jpg"></a></div>
        </div>
                            <div class="menu_inner search-box" style="display: none;" id="KeywordContainer">
				                        <div>
					                        <div class="search-message">
					                            Enter Keyword to see deals:
					                        </div>
					                        
				                        </div>
	                            </div>
                        </div>