<div id="FooterWrap"><!--FooterWrap Start-->

	

    <div id="FooterMain"><!--FooterMain Start-->

    	

        <div id="Footer_Container"><!--Footer_Container Start-->

        	

            <div class="Footer_Left"><!--Footer_Left Start-->

            	                

                <div class="GrbuttonBg"><!--GrbuttonBg Start-->

                	<p><a href="#">Advertisers and Merchants</a></p>

                    <span></span>

                </div><!--GrbuttonBg End-->

                  

                <div class="GrbuttonBg"><!--GrbuttonBg Start-->

                	<p><a href="/about-us">Company Info</a></p>

                    <span></span>

                </div><!--GrbuttonBg End-->

                

                <div class="GrbuttonBg"><!--GrbuttonBg Start-->

                	<p><a href="#">Follow Us</a></p>

                    <span></span>

                </div><!--GrbuttonBg End-->

            

            

            </div><!--Footer_Left End-->

            

            <div class="Footer_Midd"><!--Footer_Midd Start-->

            	

                <p><a href="#"><img src="{{media}}/media/images/ytube.png" alt="Facebook" title="Facebook" /></a></p>

                <p><a href="#"><img src="{{media}}/media/images/twitt.png" alt="twitt" title="Twitt" /></a></p>

                <p><a href="#"><img src="{{media}}/media/images/ind.png" alt="In" title="In" /></a></p>

                <p><a href="#"><img src="{{media}}/media/images/flickr.png" alt="Flickr"  title="Flickr"/></a></p>

                <p><a href="#"><img src="{{media}}/media/images/abd.png" alt="ab" title="AB" /></a></p>

                <p><a href="#"><img src="{{media}}/media/images/tstar.png" alt="tstar" title="tstar" /></a></p>

               

            </div><!--Footer_Midd End-->

            

            <div class="Footer_Right"><!--Footer_Right Start-->

            	

              &copy; Copyright spiff city 2011-2012. All rights reserved

            

            </div><!--Footer_Right End-->

            

            

        </div><!--Footer_Container End-->

    

    </div><!--FooterMain End-->



</div><!--FooterWrap End-->



</body>

</html>