{% include "header.html" %}

<div id="HomemapcontWrap"><!--HomemapcontWrap Start-->



	<div id="HomemapcontMain"><!--HomemapcontMain Start-->
	
	
	<div class="City_container" id='City_container' style='display:none'><!--City_container Start-->
            	
                <div class="City_cont_top"><!--City_cont_top Start-->
                	<div id='results'></div>
                                     
                    
                    
                </div><!--City_cont_top  End-->
                
                <div class="City_cont_bottom"><!--City_cont_bottom Start-->
                	<a class='city_cont_close' id='city_cont_close' href='#' onclick='close_popup()'><img src="{{media}}/media/images/hide_button.png" alt="hide" /></a>
                </div><!--City_cont_bottom  End-->
           	
            </div><!--City_container End-->

    	

        <div id="Homemapcont_Container"><!--Homemapcont_Container Start-->

        

        	 <div class="Getdeals_Cont"><!--Getdeals_Cont Start-->

            	

               <div class="Getdeals_Tags"><!--Getdeals_Tags Start-->

               		
			<!--
                    <div class="GetTags_Left1"><img src="{{media}}/media/images/arleft.png" alt="Left" /></div>
                      -->
                    

                    <div class="GetTags_Midd1"><!--GetTags_Midd1 Start-->
		    
		    <div class="client">
			<div class="buttons"><a href="#" id="prev1">prev</a> <a href="#" id="next1">next</a></div>
                        <div id="slides1">
                            <ul style="left: 0px;">
                                {% for catg in catgs%}
					
					 <li class='liclass_{{ forloop.counter }}'>
					 <img src="{{media}}/media/{{catg.image1}}"  />
					 <p><a href="#">{{catg.title}}</a></p>
					 </li>
					
					 <script type='text/javascript'>
					 $("li img").mouseover(function() { 
					   $('li.liclass_{{ forloop.counter }} img').attr("src", "{{media}}/media/{{catg.image2}}");
					})
					 $("li img").mouseout(function() { 
					   $('li.liclass_{{ forloop.counter }} img').attr("src", "{{media}}/media/{{catg.image1}}");
					})
					 </script>
			        
				{% endfor %}
                           </ul>
                      </div>
		   </div>
			  
        

                    

                    <!--<div class="GetTags_Midd2">

                		<span><img src="images/resto3.png"  /></span>

                        <p><a href="#">Restaurants</a></p> 

                    </div>

                    

                    <div class="GetTags_Midd2">

                		<span><img src="images/event2.png"  /></span>

                        <p><a href="#">Events</a></p> 

                    </div>

                    

                    <div class="GetTags_Midd2">

                		<span><img src="images/food2.png"  /></span>

                        <p><a href="#">Foods</a></p> 

                    </div>

                    

                    <div class="GetTags_Midd2">

                		<span><img src="images/auto3.png"  /></span>

                        <p><a href="#">Auto</a></p> 

                    </div>

                    

                    <div class="GetTags_Midd2">

                		<span><img src="images/service2.png"  /></span>

                        <p><a href="#">Service</a></p> 

                    </div>-->

                    

                    <!--<div class="GetTags_Midd2">

                		<span><img src="images/home1.png"  /></span>

                        <p><a href="#">Home</a></p> 

                    </div>-->

                    

                    

                    </div><!--GetTags_Midd1 End-->

                    <!--

                    <div class="GetTags_Right1"><img src="{{media}}/media/images/aright.png" alt="right" /></div>

               	-->

               </div><!--Getdeals_Tags  End-->

                

                <div class="Getdeals_Right"><!--Getdeals_Right Start-->

                	

                    <span>connect with us on:</span>

                    <p><a href="#"><img src="{{media}}/media/images/twitter1.png" alt="Follow Us" title="Follow Us" /></a></p>

                    <p><a href="#"><img src="{{media}}/media/images/facbook1.png" alt="Like" title="Like" /></a></p>

                    

                    

                </div><!--Getdeals_Right End-->

                

             </div><!--Getdeals_Cont End-->

             

             

        

             <div class="Map_Container"><!--Map_Container Start-->

             

             		{% block content %}{% endblock %}
                  

             </div><!--Map_Container  End-->

             

             

             <div class="Todayscroll_Cont"><!--Todayscroll_Cont Start-->

             	

                	<div class="Todayscroll_Left"><img src="images/today1.png" /></div>

                    

                    <div class="Todayscroll_Right"><!--Todayscroll_Right Start-->

                        

                        <ul>

                        	<li><img src="images/add1.jpg" alt="add"  /></li>

                            <li><img src="images/add2.jpg" alt="add"  /></li>

                            <li><img src="images/add3.jpg" alt="add"  /></li>

                            <li><img src="images/add4.jpg" alt="add"  /></li>

                            <li><img src="images/add5.jpg" alt="add"  /></li>

                            <li><img src="images/add6.jpg" alt="add"  /></li>

                        </ul>

                        

                        <div class="Todayscroll_Drag"><img src="images/drag1.jpg" /></div>

                    

                    </div><!--Todayscroll_Right End-->

             

             </div><!--Todayscroll_Cont  End-->

            

        </div><!--Homemapcont_Container End-->

    

    

    </div><!--HomemapcontMain End-->





</div><!--HomemapcontWrap End-->

{% include "footer.html" %}