{% extends "spiffcity.html" %}
{% block social_menu_class %}active{% endblock %}
{% block headstyles %}
	<link rel="stylesheet" href="{{media}}/media/css/feed.css" type="text/css" media="screen" />
{% endblock %}


{% block content %}
	<div id="feed_panels">
        <div id="middle-right">
        	
			<div class="content-box content-1">
            	<div class="content-left">
                <img src="{{media}}/media/images/feed/content-1-image.jpg" />
                </div>
                
                <div class="content-right">
                    <h1>Steve Jobs introduced the Apple iPad</h1>
                    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                    <div class="content-text">
                    Pellentesque habitant morbi tristique
                    senectus et netus et malesuada 
                    fames ac turpis egestas. Vestibulum 
                    tortor quam, feugiat vitae, ultricies 
                    eget, Pellentesque habitant morbi 
                    tristique senectus et netus et
                     malesuada fames ac turpis egestas. 
                    Vestibulum tortor quam, feugiat 
                    vitae, ultricies eget,
                    
                    <div style="float:right; width:150px; margin-top:10px; text-align:right;">
                    <div class="shared-by">
                    <img src="{{media}}/media/images/feed/shared_by_logo.jpg" />
                    <span>Shared By Marvelcont</span>
                    <span class="read"><a href="#">Read This Article</a></span>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            
            
            <div class="content-box content-2">
            	<ul class="">
                	<li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-2-image1.jpg" />
                        </div>
                        <div class="content-right">
                        	<h4>Aliquam tincidunt mauris eu risus</h4>
                        	<div class="content-text">
                            This is some dummy copy. You're not really supposed to read this dummy copy, it is just a place...
                            </div>
                            
                          	<div class="shared-by" style="margin-top:5px;">
                            <img src="{{media}}/media/images/feed/shared_by_logo.jpg" height="12" width="17" />
                            <span>Posted By Marvelcont</span>
                            <span class="date">February 15, 2011</span>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-2-image2.jpg" />
                        </div>
                        <div class="content-right">
                        	<h4>Aliquam tincidunt mauris eu risus</h4>
                        	<div class="content-text">
                            This is some dummy copy. You're not really supposed to read this dummy copy, it is just a place...
                            </div>
                            
                          	<div class="shared-by" style="margin-top:5px;">
                            <img src="{{media}}/media/images/feed/shared_by_logo.jpg" height="12" width="17" />
                            <span>Posted By Marvelcont</span>
                            <span class="date">February 15, 2011</span>
                            </div>
                        </div>
                    </li>
                    
                    <li style="border:none;">
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-2-image1.jpg" />
                        </div>
                        <div class="content-right">
                        	<h4>Aliquam tincidunt mauris eu risus</h4>
                        	<div class="content-text">
                            This is some dummy copy. You're not really supposed to read this dummy copy, it is just a place...
                            </div>
                            
                          	<div class="shared-by" style="margin-top:5px;">
                            <img src="{{media}}/media/images/feed/shared_by_logo.jpg" height="12" width="17" />
                            <span>Posted By Marvelcont</span>
                            <span class="date">February 15, 2011</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="content-box content-3">
           		<ul>
                	<li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-3-image.jpg" />
                        </div>
                        <div class="content-right">
                        	<span>Amy:</span> What a beautiful theme. You now have me thinking about 
                        </div>
                    </li>
                    <li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-3-image.jpg" />
                        </div>
                        <div class="content-right">
                        	<span>Amy:</span> What a beautiful theme. You now have me thinking about 
                        </div>
                    </li>
                    <li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-3-image.jpg" />
                        </div>
                        <div class="content-right">
                        	<span>Amy:</span> What a beautiful theme. You now have me thinking about 
                        </div>
                    </li>
                    <li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-3-image.jpg" />
                        </div>
                        <div class="content-right">
                        	<span>Amy:</span> What a beautiful theme. You now have me thinking about 
                        </div>
                    </li>
                    <li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-3-image.jpg" />
                        </div>
                        <div class="content-right">
                        	<span>Amy:</span> What a beautiful theme. You now have me thinking about 
                        </div>
                    </li>
                    <li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-3-image.jpg" />
                        </div>
                        <div class="content-right">
                        	<span>Amy:</span> What a beautiful theme. You now have me thinking about 
                        </div>
                    </li>
                </ul> 
            </div>
            
            <div class="content-box content-4">
                <h2>introduced the Apple iPad</h2>
                <img src="{{media}}/media/images/feed/content-4-image.jpg" />
                
                <div class="shared-by" style="margin-top:15px;">
                <img src="{{media}}/media/images/feed/shared_by_logo2.png" />
                <span>Posted By Marvelcont</span>
                <span class="shared">Shared By <strong>Pavel Ciorici</strong></span>
                </div>
            </div>
            
            <div class="content-box content-5">
            	<div class="content">
                	<h4>Fastest Man in the World, Crashes His BMW</h4>
                    <img src="{{media}}/media/images/feed/content-5-image1.jpg" />
                    <div class="content-text">
                    This is some dummy copy. You're not really supposed to read this dummy copy, it is just a place holder what the actual copy might look like if it were real content. If you want to read, That's why they not the real copy for this entry. assured, the words will expand [...]
                    </div>
                    <span class="readmore"><a href="#">Read More...</a></span>
                    <div class="shared-by" style="margin:0px;">
                    <img src="{{media}}/media/images/feed/shared_by_logo.jpg" height="12" width="17" />
                    <span>Posted By Marvelcont</span>
                  </div>
                    </div>
                
                <div class="content">
                	<h4>BMW M3 and Alpina B6 at Silverstone</h4>
                    <img src="{{media}}/media/images/feed/content-5-image2.jpg" />
                    <div class="content-text">
                    This is some dummy copy. You're not really supposed to read this dummy copy, it is just a place holder what the actual copy might look like if it were real content. If you want to read, That's why they not the real copy for this entry. assured, the words will expand [...]
                    </div>
                    <span class="readmore"><a href="#">Read More...</a></span>
                    <div class="shared-by" style="margin:0px;">
                    <img src="{{media}}/media/images/feed/shared_by_logo.jpg" height="12" width="17" />
                    <span>Posted By Marvelcont</span>
                    </div>
                </div>
                
                <div class="content">
                	<h4>BMW M3 and Alpina B6 at Silverstone</h4>
                    <img src="{{media}}/media/images/feed/content-5-image3.jpg" />
                    <div class="content-text">
                    This is some dummy copy. You're not really supposed to read this dummy copy, it is just a place holder what the actual copy might look like if it were real content. If you want to read, That's why they not the real copy for this entry. assured, the words will expand [...]
                    </div>
                    <span class="readmore"><a href="#">Read More...</a></span>
                    <div class="shared-by" style="margin:0px;">
                    <img src="{{media}}/media/images/feed/shared_by_logo.jpg" height="12" width="17" />
                    <span>Posted By Marvelcont</span>
                    </div>
                </div>
                
            	<div class="clear"></div>
            </div>
            
            <div style=" float:left; border-right:1px solid #7b7b7b; width:3px; height:275px;"></div>
            
            <div class="content-box content-6">
            	<h2>Latest News</h2>
                
                <ul>
                	<li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-6-image1.jpg" />
                        </div>
                        <div class="content-right">
                        	<div class="days">300 days ago</div>
                        	<div class="news"><a href="#">Steve Jobs introduced the Apple iPad</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-6-image2.jpg" />
                        </div>
                        <div class="content-right">
                        	<div class="days">300 days ago</div>
                        	<div class="news"><a href="#">Aliquam tincidunt mauris eu risus</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="content-left">
                        	<img src="{{media}}/media/images/feed/content-6-image3.jpg" />
                        </div>
                        <div class="content-right">
                        	<div class="days">300 days ago</div>
                        	<div class="news"><a href="#">Aliquam tincidunt mauris eu risus</a></div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
	</div>
{% endblock %}
